---
import Card from "../shared/Card.astro";
import img1 from '/public/arowana.png';

const prodData = [
  {
    img: img1,
    name: 'asdasd'
  },
  {
    img: img1,
    name: 'asdds'
  },
  {
    img: img1,
    name: 'ccsc'
  },
  {
    img: img1,
    name: 'zdsd'
  },
  {
    img: img1,
    name: 'cccs'
  },
  {
    img: img1,
    name: 'cccs'
  },
]

---
<section class="w-full relative">
  <div class="w-full h-full bg-neutral-800">
    <div class="w-full relative pt-10 pb-4">
      <div class="text-center text-white text-4xl font-bold">Our products</div>
    </div>
    <div class="hidden md:block">
      <div class="w-full relative pt-4 flex justify-center gap-2 px-4">
        {prodData.map(item=>{
          return <Card name={item.name} imgData={item.img}/>
        })}
      </div>
    </div>
    <div class="md:hidden">
      <div class="grid grid-cols-2 gap-2 mx-4 gap-y-8">
        {prodData.map(item=>{
          return <Card name={item.name} imgData={item.img}/>
        })}
      </div>
    </div>
    <!-- <div class="w-full relative pt-10 flex justify-center gap-10">
      {prodData.map(item=>{
        return <Card name={item}/>
      })}
    </div> -->
    <div class="w-full relative mt-6 pb-4"> 
      <div class="flex justify-center text-white text-2xl font-normal">See more</div>
    </div>
  </div>
</section>
